.card-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem;

  div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    .icon {
      color: rgb(87, 51, 10);
      font-size: xx-large;
    }
  }
}
